@using Schedulist.App.ViewModels.Admin
@model AdminViewModel


<h4 class="text-center" style="display:flex; justify-content:center; font-size: 30px">Calendar Event Update</h4>
<hr />
<div class="col-md-12" style="text-align: center; display: flex; justify-content: center; gap: 10px">
    <form asp-action="UpdateUser" asp-controller="Admin">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <input asp-for="@Model.User.Id" class="form-control" type="hidden" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.User.Name" class="control-label" for="Name"></label>
            <input asp-for="@Model.User.Name" class="form-control" />
            <span asp-validation-for="@Model.User.Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.User.Surname" class="control-label" for="Surname"></label>
            <input asp-for="@Model.User.Surname" class="form-control" />
            <span asp-validation-for="@Model.User.Surname" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.User.Email" class="control-label" for="Email"></label>
            <input asp-for="@Model.User.Email" class="form-control" />
            <span asp-validation-for="@Model.User.Email" class="text-danger"></span>
        </div>
        <div class="form-group" style="text-align: center; display: flex; justify-content: center; align-items: center; padding-top: 12px;">
            <button type="submit" class="button buttonGreen"><span>Update User</span></button>
        </div>
    </form>
</div>