@using Schedulist.DAL
@model DayViewModel
@{
    ViewData["Title"] = "Day";
}

<style>
    .row-title {
        border: 1px solid lightgrey;
        font-weight: bold;
        padding-top: 3px;
        padding-bottom: 3px;
        font-size: 20px;
    }

    .row-text {
        border: 1px solid lightgrey;
        padding-top: 3px;
        padding-bottom: 3px;
    }

    .hour {
        text-align: center;
    }
</style>

<h1>@Model.Date</h1>
<h1>@Model.User.Name @Model.User.Surname - @Model.WorkMode</h1>
@if (@Model.CalendarEvents.Count > 0)
{
    <div class="row">
        <div class="col-3 row-title">
            Name
        </div>
        <div class="col  row-title">
            Descreption
        </div>
        <div class="col-1  row-title hour">
            Start hour
        </div>
        <div class="col-1  row-title hour">
            Finish hour
        </div>
    </div>
    @foreach (CalendarEvent calendarEvent in @Model.CalendarEvents)
    {
        if (calendarEvent.AssignedToUser == @Model.User.Id && calendarEvent.CalendarEventDate == @Model.Date)
        {
            <div class="row">
                <div class="col-3 row-text">
                    @Html.DisplayFor(modelItem => calendarEvent.CalendarEventName)
                </div>
                <div class="col row-text">
                    @Html.DisplayFor(modelItem => calendarEvent.CalendarEventDescription)
                </div>
                <div class="col-1 row-text hour">
                    @Html.DisplayFor(modelItem => calendarEvent.CalendarEventStartTime)
                </div>
                <div class="col-1 row-text hour">
                    @Html.DisplayFor(modelItem => calendarEvent.CalendarEventEndTime)
                </div>
            </div>
        }
    }
}