@model CalendarParams
@{
    ViewData["Title"] = "Calendar";
}

<style>
    .monthName{
        min-width: 490px;
        font-size:calc(30px + 3.5vw);
        justify-content: center;
    }
    .calendarHeader {
        background-color: rgb(245, 245, 245);
        border-top: 1px solid lightgrey;
        border-bottom: 1px solid lightgrey;
        border-right: 1px solid lightgrey;
        min-width: 70px;
        font-size:calc(12px + 0.7vw);
    }
    .calendarBlock {
        background-color: rgb(235, 235, 235);
        border: 0px;
        border-bottom: 1px solid lightgrey;
        border-right: 1px solid lightgrey;
        min-width: 70px;
        min-height: 70px;
        color:grey;
        text-decoration: none;
        padding: 0;
    }
    .today {
        border: 1px solid red;
        z-index: 1;
        color:red;
    }
    .thisMonth {
        background-color: rgb(245, 245, 245);
        color: black;
    }
    .buttonField{
        width: 5vh;
        justify-content: center;
    }
</style>

<div class="text-center" style="height: calc(100vh - 140px);">
    <div class="container-fluid d-flex h-100 flex-column">
            <div class="row flex-nowrap monthName">
                <div class="buttonField"></div>
                <div class="buttonField">
                    <button type="button" class="btn btn-light" onclick="location.href='@Url.Action("PreviousMonth", "Calendar", Model.CurrentDate)'"><</button>
                </div>
                <div class="buttonField">
                    <button type="button" class="btn btn-light" onclick="location.href='@Url.Action("NextMonth", "Calendar", Model.CurrentDate)'">></button>
                </div>
                <div class="col">
                    @Model.FirstDayOfTheMonth.ToString("MMMM yyyy")
                </div>
                <div class="buttonField"></div>
                <div class="buttonField"></div>
                <div class="buttonField"></div>
            </div>
        <div class="row flex-nowrap" style="border-left: 1px solid lightgrey;">
            @for (int i = 0; i < 7; i++)
            {
                DateTime drawDayOfWeek = @Model.StartDate.AddDays(i);
                <div class="col calendarHeader">@drawDayOfWeek.DayOfWeek</div>
            }
        </div>
        <div class="row flex-nowrap flex-grow-1" style="border-left: 1px solid lightgrey;">
            @{
                int k = 0;
                DateTime drawDate = @Model.StartDate;
                while (true)
                {
                    if (drawDate >= Model.LastDayOfTheMonth && drawDate.DayOfWeek == DayOfWeek.Sunday)
                    {
                        break;
                    }
                    else
                    {
                        drawDate = @Model.StartDate.AddDays(k);
                        if (k % 7 == 0 && k > 0)
                        {
                            @:</div><div class="row flex-nowrap flex-grow-1" style="border-left: 1px solid lightgrey;">
                        }
                        if (drawDate.Month == @Model.CurrentDate.Month)
                        {
                            if (drawDate == DateTime.Today)
                            {
                                <button type="button" class="col calendarBlock thisMonth today" onclick="location.href='@Url.Action("Day", "Calendar", drawDate)'">@drawDate.Day</button>
                            }
                            else
                            {
                                <button type="button" class="col calendarBlock thisMonth" onclick="location.href='@Url.Action("Day", "Calendar", drawDate)'">@drawDate.Day</button>
                            }
                        }
                        else
                        {
                            <button type="button" class="col calendarBlock" onclick="location.href='@Url.Action("Day", "Calendar", drawDate)'">@drawDate.Day</button>
                        }
                        k += 1;
                    }
                }
            }
        </div>
    </div>
</div>
