@using Schedulist.App.ViewModels
@using Schedulist.DAL.Models
@using Schedulist.DAL.Repositories
@using Schedulist.DAL.Shared
@model MonthViewModel

<div class="text-center" style="height: 100vh;">
    <div class="container-fluid d-flex h-100 flex-column" style="padding: 0;">
        <div class="row flex-nowrap month-name-container">
            <div class="button-field">
                <button type="button" class="btn btn-light" onclick="location.href='@Url.Action("PreviousMonth", "Calendar", new {@date = Model.CurrentDate, @userToEdit = Model.UserToEdit})'"><</button>
            </div>
            <div class="button-field">
                <button type="button" class="btn btn-light" onclick="location.href='@Url.Action("NextMonth", "Calendar", new {@date = Model.CurrentDate, @userToEdit = Model.UserToEdit})'">></button>
            </div>
            <div class="month-name">
                @Model.FirstDayOfTheMonth.ToString("MMMM yyyy")
            </div>
            <div class="calendar-dropdown">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle month-view-dropdown" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Month
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" onclick="location.href='@Url.Action("Day", "Calendar", new {@date = DateTime.Now, @userToEdit = Model.UserToEdit})'">Day</a>
                        <a class="dropdown-item" onclick="location.href='@Url.Action("Week", "Calendar", new {@date = DateTime.Now, @userToEdit = Model.UserToEdit})'">Week</a>
                    </div>
                </div>
            </div>
            <div class="calendar-dropdown">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle user-dropdown" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @Model.UserDict.First(obj => obj.Key == Model.UserToEdit).Value 
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        @foreach (KeyValuePair <string, string> DropdownUser in Model.UserDict)
                        {
                            <a class="dropdown-item" onclick="location.href='@Url.Action("ChangeUser", "Calendar", new {@date = Model.CurrentDate, @userToEdit = DropdownUser.Key})'">@DropdownUser.Value</a>
                        }
                        </div>
                    </div>
                </div>
        </div>
        <div class="row flex-nowrap" style="border-left: 1px solid lightgrey;">
            @for (int i = 0; i < 7; i++)
            {
                DateTime drawDayOfWeek = @Model.StartDate.AddDays(i);
                <div class="col calendar-header">@drawDayOfWeek.DayOfWeek</div>
            }
        </div>
        <div class="row flex-nowrap flex-grow-1" style="border-left: 1px solid lightgrey;">
            @{
                DateTime drawDate = @Model.StartDate;
                int k = 0;
                while (true)
                {
                    if (drawDate >= Model.LastDayOfTheMonth && drawDate.DayOfWeek == DayOfWeek.Sunday)
                    {
                        break;
                    }
                    else
                    {
                        drawDate = @Model.StartDate.AddDays(k);
                        if (k % 7 == 0 && k > 0)
                        {
                            @:</div><div class="row flex-nowrap flex-grow-1" style="border-left: 1px solid lightgrey;">
                        }
                        if (drawDate.Month == @Model.CurrentDate.Month)
                        {
                            int numberOfCalendarEvents = 0;
                            int daysToRemove = 2;
                            List<CalendarEvent> calendarEventForDay = new List<CalendarEvent>();
                            @foreach (CalendarEvent calendarEvent in Model.CalendarEvents)
                            {
                                if (calendarEvent.CalendarEventDate.Day == drawDate.Day)
                                {
                                numberOfCalendarEvents += 1;
                                calendarEventForDay.Add(calendarEvent);
                                }
                            }
                            if (drawDate == DateTime.Today)
                            {
                                <button type="button" class="col calendar-block this-month today" onclick="location.href='@Url.Action("Day", "Calendar", new {@date = drawDate, @userToEdit = Model.UserToEdit})'">
                                <div class="calendar-day-date">
                                    @drawDate.Day
                                </div>
                            <div class="calendar-day-work-mode">
                                        @{WorkMode workModeForThisDay = new WorkMode();}
                                        @foreach (WorkModeForUser workMode in Model.WorkModesToDraw)
                                            {
                                            if (workMode.DateOfWorkMode == DateOnly.FromDateTime(drawDate))
                                                {
                                                    workModeForThisDay = Model.WorkMode.GetWorkModeById(workMode.Id);
                                                }
                                        }
                                        @if (workModeForThisDay != null)
                                        {
                                        @workModeForThisDay.Name;
                                        }
                                    </div>
                                    <div style="height: 100%">
                                    @foreach (CalendarEvent calendarEvent in calendarEventForDay)
                                    {
                                        if (workModeForThisDay.Id == 3 || workModeForThisDay.Id == 5)
                                        {
                                              if (daysToRemove > 0)
                                            {
                                                <div class="calendar-event-for-day-inactive">@calendarEvent.CalendarEventName</div>
                                                daysToRemove -= 1;
                                                numberOfCalendarEvents -= 1;
                                            }
                                            else
                                            {
                                                <div class="calendar-event-for-day-inactive">+@numberOfCalendarEvents</div>
                                                break;
                                            }  
                                        }
                                        else
                                        {
                                            if (daysToRemove > 0)
                                            {
                                                <div class="calendar-event-for-day">@calendarEvent.CalendarEventName</div>
                                                daysToRemove -= 1;
                                                numberOfCalendarEvents -= 1;
                                            }
                                            else
                                            {
                                                <div class="calendar-event-for-day">+@numberOfCalendarEvents</div>
                                                break;
                                            }
                                        }
                                    }
                                    </div>
                                </button>
                            }
                            else
                            {
                                <button type="button" class="col calendar-block this-month" onclick="location.href='@Url.Action("Day", "Calendar", new {@date = drawDate, @userToEdit = Model.UserToEdit})'">
                                    <div class="calendar-day-date">
                                        @drawDate.Day
                                    </div>
                                    <div class="calendar-day-work-mode">
                                            @{string workModeForThisDay = "";}
                                            @foreach (WorkModeForUser workMode in Model.WorkModesToDraw)
                                            {
                                            if (workMode.DateOfWorkMode == DateOnly.FromDateTime(drawDate))
                                                {
                                                    workModeForThisDay = Model.WorkMode.GetWorkModeById(workMode.Id).Name;
                                                }
                                        }
                                        @workModeForThisDay
                                    </div>
                                    <div style="height: 100%">
                                    @foreach (CalendarEvent calendarEvent in calendarEventForDay)
                                    {
                                        if (workModeForThisDay == WorkModeNames.SICK_LEAVE || workModeForThisDay == WorkModeNames.HOLIDAY)
                                        {
                                              if (daysToRemove > 0)
                                            {
                                                <div class="calendar-event-for-day-inactive">@calendarEvent.CalendarEventName</div>
                                                daysToRemove -= 1;
                                                numberOfCalendarEvents -= 1;
                                            }
                                            else
                                            {
                                                <div class="calendar-event-for-day-inactive">+@numberOfCalendarEvents</div>
                                                break;
                                            }  
                                        }
                                        else
                                        {
                                            if (daysToRemove > 0)
                                            {
                                                <div class="calendar-event-for-day">@calendarEvent.CalendarEventName</div>
                                                daysToRemove -= 1;
                                                numberOfCalendarEvents -= 1;
                                            }
                                            else
                                            {
                                                <div class="calendar-event-for-day">+@numberOfCalendarEvents</div>
                                                break;
                                            }
                                        }
                                    }
                                    </div>
                                </button>
                            }
                        }
                        else
                        {
                            <button type="button" class="col calendar-block" onclick="location.href='@Url.Action("Day", "Calendar", drawDate)'">
                                <div class="calendar-day-date">
                                    @drawDate.Day
                                </div>
                             </button>
                        }
                        k += 1;
                    }
                }
            }
        </div>
    </div>
</div>

