@using Schedulist.App.ViewModels
@using Schedulist.DAL.Models
@model WeekViewModel

@{
    ViewData["Title"] = "Week";
}
<script>
    function openCalendarSidebar(element) {
        closeCalendarSidebars()
        var sidebarId = element.getAttribute('data-sidebar-id');
        var sidebarElement = document.getElementById(sidebarId);
        sidebarElement.style.display = "block";
    }

    function closeCalendarSidebars() {
    @foreach (CalendarEvent calendarEvent in @Model.CalendarEvents)
    {
        string sidebarId = $"calendarEvent{calendarEvent.Id}";
        @:closeCalendarSidebar('@sidebarId');
    }
        }

    function closeCalendarSidebar(sidebarId) {
        var sidebarElement = document.getElementById(sidebarId);
        sidebarElement.style.display = "none";
    }

    var calendarEventDeletedMessage = localStorage.getItem('calendarEventDeletedMessage');

    if (calendarEventDeletedMessage) {
        toastr.success(calendarEventDeletedMessage);
        localStorage.removeItem('calendarEventDeletedMessage');
    }
</script>

<div style="position: sticky; top: 0; z-index: 2;">
    <div class="row flex-nowrap month-name-container">
        <div class="button-field">
            <button type="button" class="btn btn-light" onclick="location.href='@Url.Action("Week", "Calendar", new {@date = Model.StartOfWeek.AddDays(-1), @userToEdit = Model.User})'"><</button>
        </div>
        <div class="button-field">
            <button type="button" class="btn btn-light" onclick="location.href='@Url.Action("Week", "Calendar", new {@date = Model.EndOfWeek.AddDays(1), @userToEdit = Model.User})'">></button>
        </div>
        <div class="month-name">
            @Model.StartOfWeek.ToString("dd MMMM yyyy") - @Model.EndOfWeek.ToString("dd MMMM yyyy")
        </div>
        <div class="calendar-dropdown">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle month-view-dropdown" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Week
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" onclick="location.href='@Url.Action("Day", "Calendar", new {@date = DateTime.Now, @userToEdit = Model.User.Id})'">Day</a>
                    <a class="dropdown-item" onclick="location.href='@Url.Action("ChangeUser", "Calendar", new {@date = DateTime.Now, @userToEdit = Model.User.Id})'">Month</a>
                </div>
            </div>
        </div>
        <div class="event-dropdown">
            <button class="btn btn-primary" onclick="location.href='@Url.Action("Create", "Calendar")'">
                Add new event
            </button>
        </div>
        <div class="month-user-name">
            @Model.User.Name @Model.User.Surname - @Model.WorkMode
        </div>
    </div>
    <div class="row day-calendar-row">
        <div class="col-1 day-calendar-row-hour calendar-header">Hour</div>
        <div class="col calendar-header day-calendar-row-hour">Monday</div>
        <div class="col day-calendar-row-hour calendar-header">Tuesday</div>
        <div class="col day-calendar-row-hour calendar-header">Wednesday</div>
        <div class="col day-calendar-row-hour calendar-header">Thursday</div>
        <div class="col day-calendar-row-hour calendar-header">Friday</div>
        <div class="col day-calendar-row-hour calendar-header">Saturday</div>
        <div class="col day-calendar-row-hour calendar-header">Sunday</div>
    </div>
</div>
<div>
    @for (int i = 0; i < 24; i++)
    {
        <div class="row day-calendar-row">
            @if (i < 12)
            {
                if (i == 0)
                {
                    <div class="col-1 day-calendar-row-hour">12 AM</div>
                }
                else
                {
                    <div class="col-1 day-calendar-row-hour">@i AM</div>
                }
            }
            else
            {
                if (i == 12)
                {
                    <div class="col-1 day-calendar-row-hour">12 AM</div>
                }
                else
                {
                    <div class="col-1 day-calendar-row-hour">@i PM</div>
                }
            }
            <div class="col day-calendar-row-hour"></div>
            <div class="col day-calendar-row-hour"></div>
            <div class="col day-calendar-row-hour"></div>
            <div class="col day-calendar-row-hour"></div>
            <div class="col day-calendar-row-hour"></div>
            <div class="col day-calendar-row-hour"></div>
            <div class="col day-calendar-row-hour"></div>
        </div>
    }
</div>

<div class="calendar-calendar-event-container">
    @if (@Model.CalendarEvents.Count > 0)
    {
        int day = 0;
        for (DateOnly date = Model.StartOfWeek; date <= Model.EndOfWeek; date = date.AddDays(1))
        {
            <div class="week-calendar-event-container" style="left: calc(100% / 7 * @day);">
                @foreach (CalendarEvent calendarEvent in @Model.CalendarEvents)
                {
                    if (calendarEvent.UserId == @Model.User.Id && calendarEvent.CalendarEventDate.DayOfWeek == date.DayOfWeek)
                    {
                        string top = $"{calendarEvent.CalendarEventStartTime.Hour * 60 + calendarEvent.CalendarEventStartTime.Minute}px";
                        var duration = calendarEvent.CalendarEventEndTime - calendarEvent.CalendarEventStartTime;
                        string height = $"{duration.Hours * 60 + duration.Minutes}px";
                        string sidebarId = $"calendarEvent{calendarEvent.Id}";
                        <div class="day-calendar-event" style="top: @top; height: @height;" data-sidebar-id="@sidebarId" onclick="openCalendarSidebar(this)">
                            @calendarEvent.CalendarEventName
                        </div>
                    }
                }
            </div>
            day += 1;
        }
    }
</div>

@foreach (CalendarEvent calendarEvent in @Model.CalendarEvents)
{
    string sidebarId = $"calendarEvent{calendarEvent.Id}";
    <div id="@sidebarId" class="calendar-sidebar-container">
        <div class="calendar-sidebar">
            <button onclick="closeCalendarSidebars()" class="sidebar-close-button">x</button>
            @calendarEvent.CalendarEventStartTime - @calendarEvent.CalendarEventEndTime<br>
            @calendarEvent.CalendarEventName<br>
            @calendarEvent.CalendarEventDescription<br>
            <button class="btn btn-primary" onclick="location.href='@Url.Action("Edit", "CalendarEvent", new { id = calendarEvent.Id })'">
                Edit
            </button>
        </div>
    </div>
}
