@model IEnumerable<Schedulist.DAL.WorkModesToUser>

@{
    ViewData["Title"] = "Index";
}

<h1>Work Modes list</h1>

@* <p>
    <a asp-action="Create">Create New</a>
</p> *@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfWorkmode)
            </th>
          @*   <th>
                @Html.DisplayNameFor(model => model.WorkModeToUserID)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.WorkModeName)
            </th>         
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserID)
                </td>
            <td>
                    @Html.DisplayFor(modelItem => item.DateOfWorkmode)
                </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.WorkModeToUserID)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.WorkModeName)
            </td>    
@*             <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td> *@
                <td>
                    <div class="button-container">
                        @* <button type="button">@Html.ActionLink("Edit", "Edit", new { id = item.CalendarEventId })</button> *@
                        @* <button type="button">@Html.ActionLink("Details", "Details", new { id = item.CalendarEventId })</button> *@
                        <button type="button" onclick="DeleteWorkMode('@Url.Action("Delete", "WorkMode")?id=@item.WorkModeToUserID','@item.WorkModeToUserID','@item.WorkModeName','@item.UserID','@item.DateOfWorkmode')">
                            Delete
                        </button>
                    </div>
                </td>

        </tr>
}
    </tbody>
</table>

<script>
    var workModeDeletedMessage = localStorage.getItem('workModeDeletedMessage');

    if (workModeDeletedMessage) {
        toastr.success(workModeDeletedMessage);
        localStorage.removeItem('workModeDeletedMessage');
    }
</script>
