@model IEnumerable<Schedulist.DAL.Models.WorkModeForUser>
 
@{
    ViewData["Title"] = "Index";
}

<h1>Work Modes list</h1>

@* <p>
    <a asp-action="Create">Create New</a>
</p> *@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfWorkMode)
            </th>
          @*   <th>
                @Html.DisplayNameFor(model => model.WorkModeToUserID)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.WorkMode.Name)
            </th>         
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) 
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfWorkMode)
                </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.WorkModeToUserID)
            </td> *@
                <td>
                    @Html.DisplayFor(modelItem => item.WorkMode.Name)
                </td>   
            
                <td>
                    <div class="button-container">
                        <button type="button" class="btn btn-primary">@Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { style = "color: white;" })</button>
                        @* <button type="button">@Html.ActionLink("Details", "Details", new { id = item.CalendarEventId })</button> *@
                        <button type="button" onclick="DeleteWorkMode('@Url.Action("Delete", "WorkMode")?id=@item.UserId','@item.UserId','@item.WorkMode.Name','@item.UserId','@item.DateOfWorkMode')">
                            Delete
                        </button>
                    </div>
                </td>

            </tr>
        }
    </tbody>
</table>

<script>
    var workModeDeletedMessage = localStorage.getItem('workModeDeletedMessage');

    if (workModeDeletedMessage) {
        toastr.success(workModeDeletedMessage);
        localStorage.removeItem('workModeDeletedMessage');
    }
</script>
