@model Schedulist.DAL.Models.WorkModeForUser
@inject Schedulist.DAL.Repositories.Interfaces.IWorkModeRepository workModeRepository

@{
    ViewData["Title"] = "Create";
}

<h3>Work Mode Creation</h3>
@* <h4>@TempData.Peek("UserDetailsWM") - @(Convert.ToDateTime(TempData.Peek("DayDateWM")).ToShortDateString())</h4> *@
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.WorkMode.Name" class="control-label"></label>
                @Html.DropDownListFor(model => @Model.WorkModeId, ViewBag.WorkModes as SelectList, "Select Work Mode", new { @class = "form-control" })
                <span asp-validation-for="@Model.WorkMode.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <div class="col-md-10">
                    @Html.DropDownListFor(model => Model.UserId, ViewBag.Users as SelectList, "Assigned to User", new { @class = "form-control" })
                    <span asp-validation-for="UserId" class="text-danger"></span>
                </div>
            </div>
@*             <div class="form-group">
                <label asp-for="UserID" class="control-label"></label>
                <input asp-for="UserID" class="form-control" />
                <span asp-validation-for="UserID" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="DateOfWorkMode" class="control-label"></label>
                <input asp-for="DateOfWorkMode" class="form-control" />
                <span asp-validation-for="DateOfWorkMode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
