@model IEnumerable<Schedulist.DAL.Models.WorkModeForUser>
 
@{
    ViewData["Title"] = "Index";
}

<h1>Work Modes list</h1>

<p>
    <div style="display: flex; justify-content: center; align-items: center;">
        <a class="button buttonGreen" asp-controller="WorkModeForUser" asp-action="Create" style="font-family: 'Dubai'; text-decoration: none; width: 200px; display: flex; justify-content: center; align-items: center;">
            Create New
        </a>
    </div>
</p>

<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th scope="col">
                Assigned User
            </th>
            <th scope="col">
                Work Mode date
            </th>
          @*   <th>
                @Html.DisplayNameFor(model => model.WorkModeToUserID)
            </th> *@
            <th scope="col">
                @Html.DisplayNameFor(model => model.WorkMode.Name)
            </th>         
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) 
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Name) @Html.DisplayFor(modelItem => item.User.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfWorkMode)
                </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.WorkModeToUserID)
            </td> *@
                <td>
                    @Html.DisplayFor(modelItem => item.WorkMode.Name)
                </td>   
            
                <td>
                    <div class="button-container">
                        <button type="button" class="btn btn-primary">@Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { style = "color: white;" })</button>
                       <button type="button" onclick="DeleteWorkMode('@Url.Action("Delete", "WorkMode")?id=@item.UserId','@item.UserId','@item.UserId','@item.DateOfWorkMode')">
                            Delete
                        </button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    var workModeDeletedMessage = localStorage.getItem('workModeDeletedMessage');

    if (workModeDeletedMessage) {
        toastr.success(workModeDeletedMessage);
        localStorage.removeItem('workModeDeletedMessage');
    }
</script>
