@model Schedulist.DAL.CalendarEvent

@{
    ViewData["Title"] = "ChosenDateEventDetails";
}

<h1>ChosenDateEventDetails</h1>

<div>
    <h4>CalendarEvent</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CalendarEventId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CalendarEventId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CalendarEventName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CalendarEventName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CalendarEventDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CalendarEventDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssignedToUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssignedToUser)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CalendarEventId}) |
    <a asp-action="Index">Back to List</a>
</div>
