@model Schedulist.DAL.CalendarEvent

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CalendarEventId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CalendarEventId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CalendarEventName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CalendarEventName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CalendarEventDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CalendarEventDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CalendarEventDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CalendarEventDate)
        </dd> 
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CalendarEventStartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CalendarEventStartTime)
        </dd> 
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CalendarEventEndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CalendarEventEndTime)
        </dd>
     
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssignedToUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssignedToUser)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
