@model IEnumerable<CalendarEvent>
@using Schedulist.DAL.Models

@{
    ViewData["Title"] = "Index";
}

<h1>Calendar Events List</h1>

<p>
    <div style="display: flex; justify-content: center; align-items: center;">
        <a class="button buttonGreen" asp-controller="CalendarEvent" asp-action="Create" style="font-family: 'Dubai'; text-decoration: none; width: 200px; display: flex; justify-content: center; align-items: center;">
            Create New
        </a>
    </div>
</p>

<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.CalendarEventDate)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.CalendarEventStartTime)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.CalendarEventEndTime)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.CalendarEventName)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.CalendarEventDescription)
            </th>
            <th scope="col">
                Assigned to User
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CalendarEventDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CalendarEventStartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CalendarEventEndTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CalendarEventName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CalendarEventDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Name) @Html.DisplayFor(modelItem => item.User.Surname)
                </td>
                <td>
                    <div class="button-container">
                        <a href="@Url.Action("Edit", new { id = item.Id })" class="button buttonBlue" style="text-decoration: none;">Edit</a>
                        <button class="button buttonRed" onclick="DeleteCalendarEvent('@Url.Action("Delete", "CalendarEvent")?id=@item.Id','@item.CalendarEventName','@item.CalendarEventDescription','@item.CalendarEventDate','@item.CalendarEventStartTime','@item.CalendarEventEndTime','@item.UserId')">
                            Delete
                        </button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    var calendarEventDeletedMessage = localStorage.getItem('calendarEventDeletedMessage');

    if (calendarEventDeletedMessage) {
        toastr.success(calendarEventDeletedMessage);
        localStorage.removeItem('calendarEventDeletedMessage');
    }
</script>
