@model IEnumerable<Schedulist.DAL.CalendarEvent>

@{
    ViewData["Title"] = "Index";
}

<h1>Calendar Events List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CalendarEventDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CalendarEventStartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CalendarEventEndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CalendarEventName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CalendarEventDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssignedToUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CalendarEventDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CalendarEventStartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CalendarEventEndTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CalendarEventName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CalendarEventDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AssignedToUser)
                </td>
                <td>
                    <div class="button-container">
                        <button type="button">@Html.ActionLink("Edit", "Edit", new { id = item.CalendarEventId })</button>
                        @* <button type="button">@Html.ActionLink("Details", "Details", new { id = item.CalendarEventId })</button> *@
                        <button type="button" onclick="DeleteCalendarEvent('@Url.Action("Delete", "CalendarEvent")?id=@item.CalendarEventId','@item.CalendarEventName','@item.CalendarEventDescription',
                        '@item.CalendarEventDate','@item.CalendarEventStartTime','@item.CalendarEventEndTime','@item.AssignedToUser')">Delete</button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    var calendarEventDeletedMessage = localStorage.getItem('calendarEventDeletedMessage');

    if (calendarEventDeletedMessage) {
        toastr.success(calendarEventDeletedMessage);
        localStorage.removeItem('calendarEventDeletedMessage');
    }
</script>
