@{
    ViewData["Title"] = "Calendar";
    var cultureInfo = new System.Globalization.CultureInfo("en-GB");
    Thread.CurrentThread.CurrentCulture = cultureInfo;
    var currentDate = DateTime.Now;
    var firstDayOfTheMonth = new DateTime(currentDate.Year, currentDate.Month, 1);
    var lastDayOfTheMonth = firstDayOfTheMonth.AddMonths(1).AddDays(-1);
    var daysToDraw = 42;
    if (lastDayOfTheMonth.DayOfWeek == DayOfWeek.Sunday) daysToDraw -= 7;
    DateTime startDate = firstDayOfTheMonth.AddDays(-(int)firstDayOfTheMonth.DayOfWeek + 1);
}

<style>
    .calendarHeader {
        background-color: rgb(245, 245, 245);
        border-top: 1px solid lightgrey;
        border-right: 1px solid lightgrey;
        min-width: 70px;
        font-size: 1.5vw;
    }
    .calendarBlock {
        background-color: rgb(235, 235, 235);
        border-top: 1px solid lightgrey;
        border-right: 1px solid lightgrey;
        min-width: 70px;
        min-height: 70px;
    }
    .calendarBlock:before{
        content: "";
        display: block;
        padding-top: 100%;
    }
    .today {
        border: 1px solid red;
        z-index: 1;
        color:red;
    }
    .thisMonth {
        background-color: rgb(245, 245, 245);
    }
    .monthName{
        font-size: 5vw;
        justify-content: center;
    }
</style>

<div class="text-center">
    <div class="container">
        <div class="row flex-nowrap monthName">@firstDayOfTheMonth.ToString("MMMM")</div>
        <div class="row flex-nowrap" style="border-left: 1px solid lightgrey;">
            @for (int i = 0; i < 7; i++)
            {
                DateTime drawDate = startDate.AddDays(i);
                <div class="col calendarHeader">@drawDate.DayOfWeek</div>
            }
        </div>
        <div class="row flex-nowrap" style="border-left: 1px solid lightgrey;">
            @for (int i = 0; i < daysToDraw; i++)
            {
                DateTime drawDate = startDate.AddDays(i);
                if (i % 7 == 0 && i > 0)
                {
                    @:</div><div class="row flex-nowrap" style="border-left: 1px solid lightgrey;">
                }
                if (drawDate.Month == currentDate.Month)
                {
                    if (drawDate.Day == currentDate.Day)
                    {
                        <div class="col calendarBlock thisMonth today">@drawDate.Day</div>
                    }
                    else
                    {
                        <div class="col calendarBlock thisMonth">@drawDate.Day</div>
                    }
                }
                else
                {
                    <div class="col calendarBlock" style="color:grey">@drawDate.Day</div>
                }
            }
        </div>
    </div>
</div>
